body {
    background-color: green;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-family: Arial;
    margin: 0;
}

.main-container {
    background-color: lightpink;
    
    width: 50%;
    
}

.header {
    background-color: lightblue;

    display: flex;
    justify-content: end;
}

.tab {
    background-color: orange;

    /* margin: 0; */
    margin-right: 16px;
}

.name {
    font-size: 64px;
}

.name, .email {
    display: flex;
    justify-content: center;
}

.works-h2 {
    display: inline-block;
    margin: 8px 0;
    border-bottom: 1px solid black;
}
