body {
    background-color: #000000;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2, p {
    font-family: Arial;
    color: #00ff00;
    margin: 0;
}

.main-container {
    /* background-color: lightpink; */
    
    width: 50%;
    margin-top: 8px;
}

.header {
    /* background-color: lightblue; */

    display: flex;
    justify-content: end;
}

.tab {
    /* background-color: orange; */

    /* margin: 0; */
    margin-right: 16px;
}

.tab a {
    text-decoration: none;
    color: #00ff00;
    /* padding-left: 8px; */
    /* padding-right: 8px; */
    padding: 8px;
}

.tab a:active {
    box-shadow: 0 0 8px rgba(0, 255, 0, 0.5);
    border-radius: 4px;
}

.name {
    font-size: 64px;
}

.name, .email {
    display: flex;
    justify-content: center;
}

.email {
    margin-bottom: 32px;
}
